{% extends 'base.html' %}
{% block content %}

{% for movie in movies %}

<div class="card" style="width: 12rem;">
  <img class="card-img-top" src="/media/{{movie.moviePoster}}" alt="{{movie.movieName}}">
  <div class="card-body">
      <p class="badge badge-warning">{{movie.releasedDate}}</p>
    <h5 class="card-title">{{movie.movieName}}</h5>
    <p class="card-text">{{movie.movieDescription|slice:":200"}}</p>
    <a href="#" class="btn btn-warning">View</a>
  </div>
</div>

{% endfor %}
{% endblock %}
